{
  "gui" : 
  {
    "background" :
    {
        "zlevel" : 0,
        "type" : "background",
        "fileHeader" : "/interface/CAFmenu/header.png",
        "fileBody" : "/interface/CAFmenu/background.png",
        "fileFooter" : "/interface/CAFmenu/footer.png"
    },

    "itemGrid" : 
    {
        "zlevel" : 1,
        "type" : "itemgrid",
        "position" : [25, 39],
        "hAnchor" : "mid",
        "dimensions" : [2, 3],
        "spacing" : [151, 29],
        "backingImage" : "/interface/CAFmenu/nobackingimage.png"
    }
  }
}
