{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/CAFmenu/panel/header.png",
      "fileBody" : "/interface/CAFmenu/panel/body_altered.png",
      "fileFooter" : "/interface/CAFmenu/panel/footer.png"
    },
    "seedValue" : {
      "zlevel" : 3,
      "type" : "textbox",
      "hint" : "000",
      "position" : [35, 45],
      "maxWidth" : 80,
      "focus" : false,
      "value" : "0"
    },
    "acceptBtn" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonactive.png",
      "caption" : "Spawn",
      "position" : [157, 34]
    },
    "prgAvailable" : {
      "type" : "progress",
      "zlevel" : 2,
      "position" : [42, 80],
      "size" : [250, 14],
      "progressSet" : {
        "inner" : "/interface/CAFmenu/sliderAssets/bar_available.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1
    },
    "sldTargetSize" : {
      "type" : "slider",
      "zlevel" : 5,
      "position" : [32, 65],
      "gridImage" : "/interface/CAFmenu/sliderAssets/bar_overlay.png",
      "showSpinner" : true,
      "callback" : "updateTargetSize"
    },
    "btnDecreaseTargetSize" : {
      "type" : "button",
      "base" : "/interface/scripted/terraformer/arrow_left_base.png",
      "hover" : "/interface/scripted/terraformer/arrow_left_hover.png",
      "pressed" : "/interface/scripted/terraformer/arrow_left_pressed.png",
      "disabledImage" : "/interface/scripted/terraformer/arrow_left_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [11, 35],
      "callback" : "decreaseTargetSize"
    },
    "btnIncreaseTargetSize" : {
      "type" : "button",
      "base" : "/interface/scripted/terraformer/arrow_right_base.png",
      "hover" : "/interface/scripted/terraformer/arrow_right_hover.png",
      "pressed" : "/interface/scripted/terraformer/arrow_right_pressed.png",
      "disabledImage" : "/interface/scripted/terraformer/arrow_right_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [114, 35],
      "callback" : "increaseTargetSize"
    },
    "lblSliderAmount" : {
      "type" : "label",
      "zlevel" : 6,
      "position" : [35, 35],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "wrapWidth" : 240,
      "value" : "0"
    },
    "sgSelectCategory" : {
      "type" : "radioGroup",
      "zlevel" : 7,
      "toggleMode" : false,
      "callback" : "selectGenCategory",
      "buttons" : [{
          "selected" : true,
          "baseImage" : "/interface/CAFmenu/radioGroup/techslot.png:base",
          "hoverImage" : "/interface/CAFmenu/radioGroup/techslot.png:hover",
          "baseImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "hoverImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 175],
          "data" : "Generate"
        }, {
          "baseImage" : "/interface/CAFmenu/radioGroup/techslot.png:base",
          "hoverImage" : "/interface/CAFmenu/radioGroup/techslot.png:hover",
          "baseImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "hoverImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 133],
          "data" : "Refine"
        }, {
          "baseImage" : "/interface/CAFmenu/radioGroup/techslot.png:base",
          "hoverImage" : "/interface/CAFmenu/radioGroup/techslot.png:hover",
          "baseImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "hoverImageChecked" : "/interface/CAFmenu/radioGroup/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 91],
          "data" : "IO"
        }
      ]
    },
    "lblTechSlotHead" : {
      "type" : "label",
      "position" : [117, 189],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "SELECT"
    },
    "techIconHead" : {
      "type" : "image",
      "position" : [165, 189],
      "centered" : true,
      "mouseTransparent" : true
    },

    "lblTechSlotBody" : {
      "type" : "label",
      "position" : [117, 147],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "REFINE"
    },
    "techIconBody" : {
      "type" : "image",
      "position" : [165, 147],
      "centered" : true,
      "mouseTransparent" : true
    },

    "lblTechSlotLeg" : {
      "type" : "label",
      "position" : [117, 105],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "I/O"
    },
    "techIconLegs" : {
      "type" : "image",
      "position" : [165, 105],
      "centered" : true,
      "mouseTransparent" : true
    },
    "rgTabs" : {
      "type" : "radioGroup",
      "zlevel" : 7,
      "toggleMode" : false,
      "callback" : "selectTab",
      "buttons" : [{
          "selected" : true,
          "baseImage" : "/interface/CAFmenu/listAssets/tab-base.png",
          "hoverImage" : "/interface/CAFmenu/listAssets/tab-hover.png",
          "baseImageChecked" : "/interface/CAFmenu/listAssets/tab-checked.png",
          "hoverImageChecked" : "/interface/CAFmenu/listAssets/tab-checked.png",
          "pressedOffset" : [0, 0],
          "position" : [201, 175],
          "data" : "Tab1"
        }, {
          "baseImage" : "/interface/CAFmenu/listAssets/tab-base.png",
          "hoverImage" : "/interface/CAFmenu/listAssets/tab-hover.png",
          "baseImageChecked" : "/interface/CAFmenu/listAssets/tab-checked.png",
          "hoverImageChecked" : "/interface/CAFmenu/listAssets/tab-checked.png",
          "pressedOffset" : [0, 0],
          "position" : [151, 133],
          "data" : "Tab2"
        }]
    },
    "techScrollArea" : {
      "type" : "scrollArea",
      "rect" : [201, 92, 329, 206],
      "children" : {
        "techList" : {
          "type" : "list",
          "callback" : "listItemSelected",
          "schema" : {
            "selectedBG" : "/interface/CAFmenu/listAssets/listitem.png:active",
            "unselectedBG" : "/interface/CAFmenu/listAssets/listitem.png:inactive",
            "disabledBG" : "/interface/CAFmenu/listAssets/listitem.png:disabled",
            "spacing" : [0, 0],
            "memberSize" : [119, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/CAFmenu/listAssets/listitem.png:inactive",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "techName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "techIcon" : {
                "type" : "image",
                "position" : [10, 11],
                "centered" : true,
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "portraitSlot01" : {
      "zlevel" : 8,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot02" : {
      "zlevel" : 9,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot03" : {
      "zlevel" : 10,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot04" : {
      "zlevel" : 11,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot05" : {
      "zlevel" : 12,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot06" : {
      "zlevel" : 13,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot07" : {
      "zlevel" : 14,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot08" : {
      "zlevel" : 15,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot09" : {
      "zlevel" : 16,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot10" : {
      "zlevel" : 17,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot11" : {
      "zlevel" : 18,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    },
    "portraitSlot12" : {
      "zlevel" : 19,
      "type" : "image",
      "position" : [22, 140],
      "scale" : 1.5,
      "file" : ""
    }
  },
  "itemOverrideTemplate" : {
    "items" : {
      "override" : [
        [0, [{}

          ]]
      ]
    }
  },
  "itemTemplate" : {
    "item" : [{
        "name" : "REPLACEME",
        "parameters" : {
          "colorIndex" : 0
        }
      }
    ]
  },
  "scriptWidgetCallbacks" : [
    "seedValue",
    "acceptBtn",
    "updateTargetSize",
    "decreaseTargetSize",
    "increaseTargetSize",
    "listItemSelected",
    "selectGenCategory"
  ],

  "scripts" : [
    "/interface/CAFmenu/CAFpanelMenu.lua"
  ],

  "rgNPCModOptions" : [
    "Generate",
    "Refine",
    "IO"
  ],
  "categoryIconPaths" : [
    "techIconHead",
    "techIconBody",
    "techIconLegs"
  ],
  "speciesData" : {
    "speciesDirectory" : {
      "ext" : ".species",
      "base" : "/species/"
    },
    "additionalSpeciesToList" : {
      //add a custom subfolder path in the value if necessary
      "fenerox" : "",

    }
  },
  "npcTypeData" : {
      "npcType" : {
        "nakedvillager" : [],
        "villager" : [],
        "villageguard" : [],
        "villageguardcaptain" : [],
        "merchant" : [],
        "follower" : [],
        "wizardmerchant" : [],
        "blacksmith" : [],
        "alpaca" : [],
        "desertvillager" : [],
        "feneroxguard" : [],
        "feneroxvillager" : [],
        "forestvillager" : [],
        "foundryworker" : [],
        "foundryguard" : [],
        "hazmatscientist" : [],
        "maskedguard" : []
      }
  },
  "scriptDelta" : 5,
  "typeOptions" : ["Guard", "Villager"]
}