{
    "modVersion" : "1.1.3",
    
    "init" : {
        "additionalSpecies": [
          "fenerox"
        ],
        "npcTypeList": [ 
          "airshipcaptain",
          "airshipguard",
          "airshipquartermaster",
          "alpacatenant",
          "apexrebel",
          "apexrebelvillager",
          "apexresearchlab",
          "arenabruiser",
          "arenafighter",
          "arenapyro",
          "arenashooter",
          "avianairship",
          "aviantomb",
          "bandit",
          "bartender",
          "blacksmith",
          "bones",
          "chefmerchant",
          "clanleader",
          "colourful",
          "creepling",
          "cultist",
          "desertvillager",
          "devoutvillageguard",
          "devoutvillager",
          "electrician",
          "eyepatch",
          "feneroxguard",
          "feneroxtenant",
          "feneroxvillager",
          "flesh",
          "floranhuntinggrounds",
          "follower",
          "forestvillager",
          "foundry",
          "foundryguard",
          "foundryworker",
          "friendlycultist",
          "friendlyguard",
          "friendlyguardtenant",
          "frogvillager",
          "geode",
          "glitchcastle",
          "glitchsewer",
          "glow",
          "greenfinger",
          "hazmatscientist",
          "hive",
          "hostile",
          "humanbunker",
          "humanprison",
          "lunarbase",
          "maskedguard",
          "merchant",
          "miniknogvillageguard",
          "miniknoggeneral",
          "neon",
          "novakidblacksmith",
          "oasis",
          "philanthropist",
          "prism",
          "prisonoutlaw",
          "protectoratecourtyardlounger",
          "saloon",
          "savannahchampion",
          "savannahguard",
          "savannahvillager",
          "scorched",
          "shadowvillager",
          "shroomguard",
          "shroommerchant",
          "shroommerchanttenant",
          "snowscientist",
          "snowvillager",
          "socialite",
          "spring",
          "stargazer",
          "steamspring",
          "survivor",
          "undergroundvillager",
          "villageguard",
          "villageguardcaptain",
          "villager",
          "wanderingmerchant",
          "wizardmerchant"
        ],
        "npcTypeListPrio" : [
          "nakedvillager"
        ],
        "portraits" : [
          "portraitSlot01",
          "portraitSlot02",
          "portraitSlot03",
          "portraitSlot04",
          "portraitSlot05",
          "portraitSlot06",
          "portraitSlot07",
          "portraitSlot08",
          "portraitSlot09",
          "portraitSlot10",
          "portraitSlot11",
          "portraitSlot12",
          "portraitSlot13",
          "portraitSlot14",
          "portraitSlot15",
          "portraitSlot16",
          "portraitSlot17",
          "portraitSlot18",
          "portraitSlot19",
          "portraitSlot20"
        ],
        "equipSlot" : [
          "primary",
          "alt",
          "sheathedprimary",
          "sheathedalt",
          "head",
          "headCosmetic",
          "chest",
          "chestCosmetic",
          "legs",
          "legsCosmetic",
          "back",
          "backCosmetic"
        ],
        "equipSlotType" : [
          "activeitem",
          "activeitem",
          "activeitem",
          "activeitem",
          "headarmor",
          "headarmor",
          "chestarmor",
          "chestarmor",
          "legsarmor",
          "legsarmor",
          "backarmor",
          "backarmor"
        ]
    },
    "spawnTimers" : {
      "spawnTimer" : 1,
      "maxRespawnTime" : 10
    },
    "infoDescription" : {
        "Generate" : [
          {"title":"NpcSpawner+"},
          {"detail":"Greetings faithful customer!  Thank you for your purchase.  With this tool you will be able to spawn in and customize many different aspects of your npc."},
          {"detail":"Currently there are three different categories to choose from"},
          {"key":"GENERATE","value":"This category focuses on selecting your species, npcType, and various hair and facial parts."},
          {"key":"COLORIZE","value":"This category allows you to colorize your npc in various ways"},
          {"key":"ADVANCED","value":"This category allows you to select various options that deal with an npcs script behaviour and other misc properties."},
          {"detail":"On the other side of the console you will see a textbox with the npc's name, some item slots, and an idle stance spinner.  All of those are interactable."},
          {"key":"name text box", "value":"Use this textbox to type in a new name for your npc, otherwise it will use what is shown."},
          {"key":"container slots", "value": "Fill these slots with armor and weapons to outfit your npc.  Otherwise it will equip what its npcType provides."},
          {"detail":"\n\n\nThe Container layout is as follows (The S in SPrimary/SAlt represents sheathed):"},
          {"key":"Primary\nAlt\nSPrimary\nSAlt","value":"   Head           HeadCosmetic\n   Chest          ChestCosmetic\n   Legs            LegsCosmetic\n   Back            BackCosmetic"},
          {"detail":"For now only non-crewmembers can take full advantage of the armor slots, BUT, you can spawn in crewmembers with custom weapons!  Therefore using a crew uniform management mod is recommended."},
          {"key":"idle stance", "value":"Use the spinner buttons to override the idle stance of your npc.  Note that this does not affect an npc's personality and behavior."},
          {"key":"slider","value":"Use the slider to scroll through seed values and generate random npcs.  Using the slider will remove all overrides and is currently the only way to select a gender."},
          {"detail":"Each section has their own info tab with more details."},
          {"title":"GENERATE"},
          {"detail":"This category is the backbone of your npc.  Use the slider below to scroll through some generated npcs based off seed value,  once you select one you want then you can select the other tabs to change specific body parts."},
          {"key":"TAB OPTIONS:","value":""}],
        "Species" : "Select your species from the list.",
        "NpcType" : "Select the type of npc you want to make.  Remember that not all npcTypes are meant to go with with every species.  And some may be HOSTILE.",
        "Hair" :"Select your npc's hair, or flower, or fluff, or whatever their species calls it",
        "FHair" : "Select your npc's facial hair, or glowy face-symbol-thing.",
        "FMask" : "Select your npc's facial mask, or beak.",
        "Colorize" : [
          {"title":"COLORIZE"},
          {"detail":"Welcome to the colorize tab.  Where there are 5 potential options, and they color just about everything but what they say they do 90% of the time."},
          {"detail":" We would like to remind you that if colors start getting weird selecting 'remove override' on the top of the list for all 5 categories will set everything right!"},
          {"detail":"If a tab option is empty, then there is either no associated body part, or associated color in the species database."},
          {"key":"TAB OPTIONS","value":""}
        ],
        "BColor" : "Will supposedly color your npc's body, legs and arms.",
        "HColor" : "Will supposedly color your npc's hair.  Or it can pull an apex and color your npc's entire body.",
        "FHColor" : "Will supposedly color your npc's facial hair. Or instead it will color what appeared to be your hair.  Or maybe something else, who knows?",
        "FMColor" : "Will supposedly color your npc's facial mask..Avaian's beaks for example.",
        "UColor" : "Undy color.  The most frustrating color of them all.  The only undies it colors are human undies.  For other species it can be lights, bellies, flowers, eyes and everything inbetween.",
        "Advanced" : [
          {"title":"ADVANCED"},
          {"detail":"In this category you will find information on how to detach, export and customize your npc's behavior"},
          {"key":"TAB OPTIONS","value":""}
        ],
        "Export" : "Select this tab to export your generated npc as a spawn command!  You can find the command in your starbound.log file.",
        "ExportOptn" : [
          {"title":"EXPORT SUCCESSFUL"},
          {"detail":"Your npc has been successfully exported to your starbound.log file. The unique id tied to this export is listed below.  Use that key to quickly find the necessesary string in your starbound.log file."},
          {"key": "uniqueID", "value": "replaceme"},
          {"detail":"HOW TO USE THE SPAWNER:  \n1.  Use the command to spawn a 'spawner' item, it will be unique in that the item title will have your npc's name."},
          {"detail":"2.  Place the spawner exactly where you want your npc's 'home/room/area' to be.  This is particularly important for merchants because, when interacted with, they will"},
          {"detail": "ask you to follow them back to where you placed the spawner.  This is also important for guard npctypes as they will 'camp' that area."},
          {"detail":"3.  Run away far enough so that the spawner is well out of view and run back. \nYour npc should be there along with the broken spawner."},
          {"title":"TROUBLESHOOTING"},
          {"detail":"Q. Where is this starbound.log file?  \n1. Goto your starbound game directory (from steam -> right click starbound -> goto properties -> goto 'Local Files' tab -> click 'Browse Local Files'). The file will be inside the 'storage' folder."},
          {"detail":"Q. Where in the starbound.log file is the text I need?\n1. Open up the file in a program which will auto-parse the text.  (Notepad++, Sublime Text, Google Chrome, Firefox or WordPad or any IDE).  "},
          {"detail":"2.  Use the uniqueID above to quickly goto the appropriate line.  Then copy the contents of the text connected to your search id.  It will look like below:"},
          {"detail":"/spawnitem spawnerwizard 1 '{.....}'"},
          {"detail":"Make you only select the command line and nothing else"},
          {"detail":"Q. I ran back and there is no npc, but the spawner is still there. What happened? \nYou haven't run far enough away from the object, try going further or beam up to your ship and back down again."},
          {"detail":"Q. I ran back and there is no npc, the spawner is also broken. What happened?  \nSomething went very wrong...Such cases should be brought to our attention asap."}
        ],
        "Prsnlity" : "Personality.  Change the scripted personality of your npc.  Note that this is experimental.",
        "Override": "Use the 'input override' textbox to modify your npc even further.  Visit the tab for more info!",
        "OverrideOptn" :
        [
          {"title": "Advanced Overrides"},
          {"detail":"Welcome to the category for the most advanced of advanced.  Here we will explore how to use the 'input override' command box below to customize your npc even further!"},
          {"detail":"This functionality is similar to admin commands.  Type in a specific command and press 'enter' to apply it.  Commands are delimited in spaces(' ')."},
          {"detail":"Note:  If spawning your npc via an exported spanweritem, certain commands will not be applied,  they will be marked with a (*)"},
          {"title":"Species and NpcTypes"},
          {"detail":"^green;insert additionalspecies [string species1 species2...] \ninsert additionalnpctypes [string type1 type2..]"},
          {"detail":"Insert custom species and npctypes into the global list.  Once entered it will be visible by all panels.  More than one can be enetered at a time, separate them with a space."},
          {"detail":"Ex:  insert additionalSpecies avali felin shadow"},
          {"detail":"You can find and modify these lists in your starbound.config folder, located in the 'storage' folder in your game's directory."},
          {"title":"Stats and Behavior"},
          {"detail":"override commands that modify how an npc's stats are calculated or how the npc behaves."},
          {"detail":"^green;set level [int]^white;\nSets the npc's level.  Values over 10 go beyond vanilla level.  (Default: planet level)  "},
          {"detail":"^green;set disableWornArmor [true|false]^white;\nIf true, includes armor and weapon stats when calculating damage and hipoints.  Setting this value may make your npc overpowered (Default: false)"},
          {"detail":"^green;set damageteam [int]^white;\nSets the damage team of an npc.  All aggressive actions caused by npcs will be shared by nearby npcs of the same damageteam (default: 1 for friendly, 2 for enemies)."},
          {"detail":"^green;set damageteamtype [String] ('friendly','enemy','passive')^white;\nSets how the player can interact with the npc and how the npc interacts with other npcs"},
          {"detail":"^green;'friendly'^white; : used by villagers/guards. They will be all friendly and nice, you will be unable to directly attack them."},
          {"detail":"^green;'enemy'^white; : Used by most hostile enemies.  You can attack them but this doesn't always mean that they are aggressive. (ex of 'friendly' enemy types:  shadowvillager, deadbeatscrounger)"},
          {"detail":"^green;'passive'^white; : 'Also used by critters,  this makes all npctypes not have a care in the world.  villagers and guards will need to set this and its hostiledamageteamtype to 'passive for the same effect'"},
          {"detail":"^green;set hostiledamageteam [int]\nset hostiledamageteamtype [String] ('friendly','enemy','passive')"},
          {"detail":"these hostileteam parameters (hdt, hdtt for short) will replace the regular damageteam(dt) and damageteamtype(dtt) whenever the npc detects hostility and/or get damaged by the player.  It is as follows: "},
          {"detail":"Player hits npc/steals->\nNpc switches to hdt / hdtt behavior.->\n other nearby npcs with the same dt value will also switch to these hostile parameters."},
          {"detail":"If you do not want an npc to attack you or your followers under any circumstances (and vice versa) then set these parameters to 1 and 'friendly' as well."},
          {"detail":"The npcTypes 'friendlyguard' and 'friendlyguardtenant' have hostile parameters set to always be friendly."},
          {"title":"Visual Modifications"},
          {"detail": "^green;set bodyDirectives [string directive]^white;\n^green;set emoteDirectives [string directive]^white;\n^green;set hairDirectives [string directive]^white;\n^green;set facialHairDirectives [string directive]^white;\n^green;set facialMaskDirectives [string directive]^white;"},
          {"detail":"Directly replace a directive with a directive of your own (formatting required).  This command blindly writes over the parameter with what is provided."},
          {"detail":"Example:\n  set bodyDirective ?replace;f0e1bb=e6e6e6;6b583d=555555..."},
          {"title":"Output"},
          {"detail":"These commands allow you to view json configurations of your current or given npc on this console.  The output will be displayed at the bottom of this messagebox."},
          {"detail":"^green;output npctype [string 'npcType'|'self'] [string 'jsonPath']^white;\nExample:\n'output npctype villager scriptConfig.behaviorConfig'\n'output npctype self scriptConfig.dialogue'"},
          {"detail":"^green;output species [string 'speciesName'|'self'] [string 'jsonPath']^white;\nExample:\n'output species apex undyColors'\n'output species self genders.1.name'"},
          {"detail":"Both commands will attempt to get information from the provided species/npctype files."},
          {"detail":"^red;Note:^white; Not providing a json path will show the entire document  which will slow down the entire game for as long as the text is visible. "},
          {"detail":"these output commands will also log these files into your starbound.log folder"},
          {"detail":"^green;output override [string 'jsonPath']^white;\n Displays all overrides currently applied to your npc.  Not providing a jsonPath will show all overrides, but will not cause nearly the slowdown."},
          {"detail":"Example:\noutput override identity -> displays all visual overrides on your npc."},
          {"title":"Misc."},
          {"detail": "^green;clear^white;\nClears the screen of all text."},
          {"detail":"^green;clearcache^white;\nFor faster loading times, certain display information is cached into the world directory and shared among all other panels in the same planet."},
          {"detail":"This information is updated on a semi-weekly basis, but can be 'jumpstarted' by using the above command."}
        ],
        "Detach" : "Provides information on how to detach your npc from this spawner.",
        "DetachOptn" : [
          {"title": "Detach Spawner"},
          {"detail":"When you feel your npc is ready to go, and would like it to roam free you can detach this spawner.  Any armor and weapons the npc currently has equipped will be finalized, all items inside of this container will be given back"},
          {"detail":"To continue: Make sure you have solidified any changes. Then input the command ^green;'detach'^white; \nin the 'input override' command box below and press enter."},
          {"detail":"^red;Note:^white;  Reattachment procedures have yet to be approved by the Galactic Department of Species Health and Wellbeing.  \nUntil approval is given, all detachment procedures should be considered final and cannot be undone."}
        ]
    }
}