{
    "init" : {
        "additionalSpecies": [
          "fenerox"
        ],
        "npcTypeList": [ 
        "airshipcaptain",
        "airshipguard",
        "airshipquartermaster",
        "alpacatenant",
        "apexrebel",
        "apexrebelvillager",
        "apexresearchlab",
        "arenabruiser",
        "arenafighter",
        "arenapyro",
        "arenashooter",
        "avianairship",
        "aviantomb",
        "bandit",
        "bartender",
        "blacksmith",
        "bones",
        "chefmerchant",
        "clanleader",
        "colourful",
        "creepling",
        "cultist",
        "desertvillager",
        "devoutvillageguard",
        "devoutvillager",
        "electrician",
        "eyepatch",
        "feneroxguard",
        "feneroxtenant",
        "feneroxvillager",
        "flesh",
        "floranhuntinggrounds",
        "follower",
        "forestvillager",
        "foundry",
        "foundryguard",
        "foundryworker",
        "friendlycultist",
        "friendlyguard",
        "friendlyguardtenant",
        "frogvillager",
        "geode",
        "glitchcastle",
        "glitchsewer",
        "glow",
        "greenfinger",
        "hazmatscientist",
        "hive",
        "hostile",
        "humanbunker",
        "humanprison",
        "lunarbase",
        "maskedguard",
        "merchant",
        "miniknogvillageguard",
        "miniknoggeneral",
        "nakedvillager",
        "neon",
        "novakidblacksmith",
        "oasis",
        "philanthropist",
        "prism",
        "prisonoutlaw",
        "protectoratecourtyardlounger",
        "saloon",
        "savannahchampion",
        "savannahguard",
        "savannahvillager",
        "scorched",
        "shadowvillager",
        "shroomguard",
        "shroommerchant",
        "shroommerchanttenant",
        "snowscientist",
        "snowvillager",
        "socialite",
        "spring",
        "stargazer",
        "steamspring",
        "survivor",
        "undergroundvillager",
        "villageguard",
        "villageguardcaptain",
        "villager",
        "wanderingmerchant",
        "wizardmerchant"
        ],
        "portraits" : [
        "portraitSlot01",
        "portraitSlot02",
        "portraitSlot03",
        "portraitSlot04",
        "portraitSlot05",
        "portraitSlot06",
        "portraitSlot07",
        "portraitSlot08",
        "portraitSlot09",
        "portraitSlot10",
        "portraitSlot11",
        "portraitSlot12",
        "portraitSlot13",
        "portraitSlot14",
        "portraitSlot15",
        "portraitSlot16",
        "portraitSlot17",
        "portraitSlot18",
        "portraitSlot19",
        "portraitSlot20"
        ],
        "equipSlot" : [
          "primary",
          "secondary",
          "sheathedprimary",
          "sheathedsecondary",
          "head",
          "headCosmetic",
          "chest",
          "chestCosmetic",
          "legs",
          "legsCosmetic",
          "back",
          "backCosmetic"
        ]

    },
    "infoDescription" : {
        "Generate" : [
          {"title":"NpcSpawner+"},
          {"detail":"Greetings faithful customer!  Thank you for your purchase.  With this tool you will be able to spawn in and customize many different aspects of your npc."},
          {"detail":"Currently there are three different categories to choose from"},
          {"key":"GENERATE","value":"This category focuses on selecting your species, npcType, and various hair and facial parts."},
          {"key":"COLORIZE","value":"This category allows you to colorize your npc in various ways"},
          {"key":"ADVANCED","value":"This category allows you to select various options that deal with an npcs script behaviour and other misc properties."},
          {"detail":"On the other side of the console you will see a textbox with the npc's name, some item slots, and an idle stance spinner.  All of those are interactable."},
          {"key":"name text box", "value":"Use this textbox to type in a new name for your npc, otherwise it will use what is shown."},
          {"key":"container slots", "value": "Fill these slots with armor and weapons to outfit your npc.  Otherwise it will equip what its npcType provides."},
          {"detail":"\n\n\nThe Container layout is as follows (The S in SPrimary/SAlt represents sheathed):"},
          {"key":"Primary\nAlt\nSPrimary\nSAlt","value":"   Head           HeadCosmetic\n   Chest          ChestCosmetic\n   Legs            LegsCosmetic\n   Back            BackCosmetic"},
          {"detail":"For now only non-crewmembers can take full advantage of the equipment slots, BUT, you can spawn in crewmembers with custom weapons!  Therefore using a crew uniform management mod is recommended."},
          {"key":"idle stance", "value":"Use the spinner buttons to override the idle stance of your npc.  Note that this does not affect an npc's personality and behavior."},
          {"key":"slider","value":"Use the slider to scroll through seed values and generate random npcs.  Using the slider will remove all overrides and is currently the only way to select a gender."},
          {"detail":"Each section has their own info tab with more details."},
          {"title":"GENERATE"},
          {"detail":"This category is the backbone of your npc.  Use the slider below to scroll through some generated npcs based off seed value,  once you select one you want then you can select the other tabs to change specific body parts."},
          {"key":"TAB OPTIONS:","value":""}],
        "Species" : "Select your species from the list.",
        "NpcType" : "Select the type of npc you want to make.  Remember that not all npcTypes are meant to go with with every species.  And some may be HOSTILE.",
        "Hair" :"Select your npc's hair, or flower, or fluff, or whatever their species calls it",
        "FHair" : "Select your npc's facial hair, or glowy face-symbol-thing.",
        "FMask" : "Select your npc's facial mask, or beak.",
        "Colorize" : [
          {"title":"COLORIZE"},
          {"detail":"Welcome to the colorize tab.  Where there are 5 potential options, and they color just about everything but what they say they do 90% of the time."},
          {"detail":" We would like to remind you that if colors start getting weird selecting 'remove override' on the top of the list for all 5 categories will set everything right!"},
          {"detail":"If a tab option is empty, that means there is either no associated body part, or there is no associated color."},
          {"key":"TAB OPTIONS","value":""}
        ],
        "BColor" : "Will supposedly color your npc's body, legs and arms.  If not this option, another option will.",
        "HColor" : "Will supposedly color your npc's hair.  Or it can pull an apex and color your npc's entire body.",
        "FHColor" : "Will supposedly color your npc's facial hair. Or instead it will color what appeared to be your hair.  Or maybe something else, who knows?",
        "FMColor" : "Will supposedly color your npc's facial mask..Avaian's beaks for example.",
        "UColor" : "Undy color.  The most frusterating color of them all.  The only undies it colors are human undies.  For other species it can be lights, bellies, flowers, eyes and everything inbetween.",
        "Advanced" : [
          {"title":"ADVANCED"},
          {"detail":"This tab is currently under construction for the beta.  It will be more fleshed out as time goes on.  Stay tuned!"},
          {"key":"TAB OPTIONS","value":""}
        ],
        "Export" : "Select this tab to export your generated npc as a spawn command!  You can find the command in your starbound.log file.",
        "ExportOptn" : [
          {"title":"EXPORT SUCCESSFUL"},
          {"detail":"Your Npc has been successfully exported to your starbound.log file. The unique id tied to this export is listed below.  Use that key to quickly find the necessesary string in your starbound.log file."},
          {"key": "uniqueID", "value": "replaceme"},
          {"detail":"HOW TO USE THE SPAWNER:  \n1.  Use the command to spawn a 'spawner' item, it will be unique in that the item title will have your npc's name."},
          {"detail":"2.  Place the spawner exactly where you want your npc's 'home/room/area' to be.  This is particularly important for merchants because, when interacted with, they will"},
          {"detail": "ask you to follow them back to where you placed the spawner.  This is also important for guard npctypes as they will 'camp' that area."},
          {"detail":"3.  Run away far enough so that the spawner is well out of view and run back. \nYour npc should be there along with the broken spawner."},
          {"title":"TROUBLESHOOTING"},
          {"detail":"Where is this starbound.log file?  \n1. Goto your starbound game directory (from steam -> right click starbound -> goto properties -> goto 'Local Files' tab -> click 'Browse Local Files').  Open the 'storage' folder, and it will be there."},
          {"detail":"Where in the starbound.log file is the text I need?\n1. Open up the file in a program which will auto-parse the text.  (Notepad++, Sublime Text, Google Chrome, Firefox or WordPad or any IDE).  "},
          {"detail":"2.  Use the uniqueID above to quickly goto the appropriate line.  Then copy the contents of the text connected to your search id.  It will look like below:"},
          {"detail":"/spawnitem spawnerwizard 1 '{.....}'"},
          {"detail":"it will be one big line.  Make sure that you only select that command line,  if you accidentally select a line above or below then it will not copy over correctly when pasting it into the chat window."},
          {"detail":"I ran back and there is no npc, but the spawner is still there. \nYou haven't run far enough away from the object, try going further or beam up to your ship and back down again."},
          {"detail":"I ran back and there is no npc, the spawner is also broken.  \nSomething went very wrong..."}
        ],
        "Prsnlity" : "Personality.  Change the scripted personality of your npc.  Note that this is experimental.",
        "Override": "Use the 'input override' textbox to modify your npc even further.  Visit the tab for more info!",
        "OverrideOptn" :
        [
          {"title": "Advanced Overrides"},
          {"detail":"Welcome to the section for the most advanced of advanced.  Here we will explain how to use the override input textbox below to customize your npc even further!"},
          {"detail":"This functionality is similar to admin commands.  Type in a specific command and press 'enter' to apply it.  Commands are delimited in spaces(' ')."},
          {"title":"Image Post-Processing"},
          {"detail":"\n\nApply hueshifts and saturation changes to your npc.  The available commands are as follows:"},
          {"title": "Hueshift"},
          {"detail":"apply hue body [int #inc]\napply hue hair [int #inc]\napply hue facialhair [int #inc]\napply hue facialmask [int #inc]"},
          {"detail":"The value given is incremental and can be a positive or negative value.  Continue to press 'enter' until you reach the desired result.  Hue is calculated as an angle, its true value is clamped between 0 and 359"},
          {"title":"Saturation"},
          {"detail":"apply sat body [int #inc]\napply sat hair [int #inc]\napply sat facialhair [int #inc]\napply sat facialmask [int #inc]"},
          {"detail":"The value given is incremental and can be a positive or negative value.  Continue to press 'enter' until you reach the desired result.  Saturation is calculated as distaance in a 2d plane, its true value is clamped between -100 and 100"},
          {"detail":"remove [hue | sat] body\nremove [hue | sat] hair\nremove [hue | sat] facialhair\nremove [hue | sat] facialmask"},
          {"detail":"completely removes any hue or sat modifications on the given body part."},
          {"detail":"\nExample:\napply hue body 15\n  Press Enter  -> Hue : 15\n  Press Enter Again  -> Hue : 30"},
          {"detail":"apply hue body -10\n  Press Enter -> Hue : 20\nremove hue body\n  Press Enter  -> Hue : 0 \n  (directive removed)\n\n\n\n"},
          {"title":"Stats and Behavior"},
          {"detail":"override commands that modify how an npc's stats are calculated or how the npc behaves.  Commands marked with a * may not work if using the export option to spawn an npc."},
          {"detail":"set disableWornArmor [true|false]\n\n     If true, includes armor and weapon stats when calculating damage and hipoints.  Setting this value to true can/will make your npc overpowered (Default: false)"}
        ]
    }
}