{
    "additionalSpecies": [
        "fenerox"
    ],
    "npcTypeList": [ 
        "airshipcaptain",
        "airshipguard",
        "airshipquartermaster",
        "alpacatenant",
        "apexrebel",
        "apexrebelvillager",
        "apexresearchlab",
        "arenabruiser",
        "arenafighter",
        "arenapyro",
        "arenashooter",
        "avianairship",
        "aviantomb",
        "bandit",
        "bartender",
        "blacksmith",
        "bones",
        "chefmerchant",
        "clanleader",
        "colourful",
        "creepling",
        "cultist",
        "desertvillager",
        "devoutvillageguard",
        "devoutvillager",
        "electrician",
        "eyepatch",
        "feneroxguard",
        "feneroxtenant",
        "feneroxvillager",
        "flesh",
        "floranhuntinggrounds",
        "follower",
        "forestvillager",
        "foundry",
        "foundryguard",
        "foundryworker",
        "friendlycultist",
        "friendlyguard",
        "friendlyguardtenant",
        "frogvillager",
        "geode",
        "glitchcastle",
        "glitchsewer",
        "glow",
        "greenfinger",
        "hazmatscientist",
        "hive",
        "hostile",
        "humanbunker",
        "humanprison",
        "lunarbase",
        "maskedguard",
        "merchant",
        "miniknogvillageguard",
        "nakedvillager",
        "neon",
        "novakidblacksmith",
        "oasis",
        "philanthropist",
        "prism",
        "prisonoutlaw",
        "protectoratecourtyardlounger",
        "saloon",
        "savannahchampion",
        "savannahguard",
        "savannahvillager",
        "scorched",
        "shadowvillager",
        "shroomguard",
        "shroommerchant",
        "shroommerchanttenant",
        "snowscientist",
        "snowvillager",
        "socialite",
        "spring",
        "stargazer",
        "steamspring",
        "survivor",
        "undergroundvillager",
        "villageguard",
        "villageguardcaptain",
        "villager",
        "wanderingmerchant",
        "wizardmerchant"
    ]
}
//these are the defaults that copy over to your starbound.config file if not set.  
//Adding anything here will only work on new characters or by using the reset npcList / reset SpeciesList command.
//If You wish to add new npcTypes directly,  please see the command:  insert npcTypeList / insert npcSpeciesList.