{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/NpcMenu/panel/header.png",
      "fileBody": "/interface/scripted/NpcMenu/panel/body_altered.png",
      "fileFooter": "/interface/scripted/NpcMenu/panel/footer.png"
    },
    "acceptBtn": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "press": "/interface/buttonactive.png",
      "caption": "Spawn",
      "position": [200,34]
    },
    "prgAvailable": {
      "type": "progress",
      "zlevel": 2,
      "position": [42,80],
      "size": [250,14],
      "progressSet": {
        "inner": "/interface/scripted/NpcMenu/sliderAssets/bar_available.png",
        "type": "repeat"
      },
      "direction": "horizontal",
      "max": 1
    },
    "sldSeedValue": {
      "type": "slider",
      "zlevel": 3,
      "position": [35,62],
      "gridImage": "/interface/scripted/NpcMenu/sliderAssets/bar_overlay.png",
      "showSpinner": true,
      "callback": "updateSeedValue"
    },
    "lblSliderValue": {
      "type": "label",
      "zlevel": 6,
      "position": [50,40],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "wrapWidth": 240,
      "value": "Seed: 0"
    },
    "sgSelectCategory": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "selectGenCategory",
      "visible" : false,
      "buttons": [{
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,175],
        "data": "Generate"
      },
      {
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,133],
        "data": "Colorize"
      },
      {
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,91],
        "data": "Advanced"
      }]
    },
    "lblTechSlotHead": {
      "type": "label",
      "position": [177,208],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "GENERATE"
    },
    "techIconHead": {
      "type": "image",
      "position": [165,189],
      "centered": true,
      "mouseTransparent": true
    },
    "lblTechSlotBody": {
      "type": "label",
      "position": [177,166],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "COLORIZE"
    },
    "techIconBody": {
      "type": "image",
      "position": [165,147],
      "centered": true,
      "mouseTransparent": true,
      "file" : "/interface/easel/consoleheadericon.png"
    },
    "lblTechSlotLeg": {
      "type": "label",
      "position": [177,124],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "ADVANCED"
    },
    "techIconLegs": {
      "type": "image",
      "position": [165,105],
      "centered": true,
      "mouseTransparent": true
    },
    "rgTabs": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "selectTab",
      "buttons": [{
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [188,207],
        "data": "tab1"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [214,207],
        "data": "tab2"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [240,207],
        "data": "tab3"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [266,207],
        "data": "tab4"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [292,207],
        "data": "tab5"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [318,207],
        "data": "tab6"
      }]
    },
    "lblTab01" : {
      "type": "label",
      "zlevel": 8,
      "position": [190,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "species",
      "fontSize" : 5.8,
      "mouseTransparent" : true
    },
    "lblTab02" : {
      "type": "label",
      "zlevel": 8,
      "position": [216,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "npcType",
      "fontSize" : 5.8,
      "mouseTransparent" : true
    },
    "lblTab03" : {
      "type": "label",
      "zlevel": 8,
      "position": [242,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.8,
      "mouseTransparent" : true
    },
    "lblTab04" : {
      "type": "label",
      "zlevel": 8,
      "position": [268,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.8,
      "mouseTransparent" : true 
    },
    "lblTab05" : {
      "type": "label",
      "zlevel": 8,
      "position": [294,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.8,
      "mouseTransparent" : true 
    },
    "lblTab06" : {
      "type": "label",
      "zlevel": 8,
      "position": [320,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.8,
      "mouseTransparent" : true 
    },
    "techScrollArea": {
      "type": "scrollArea",
      "rect": [188,92,344,206],
      "visible" : false,
      "children": {
        "techList": {
          "type": "list",
          "callback": "onSelectItem",
          "schema": {
            "selectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:active",
            "unselectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
            "disabledBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
            "spacing": [0,0],
            "memberSize": [147,22],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
                "position": [0,0],
                "zlevel": -1
              },
              "title": {
                "type": "label",
                "position": [25,6],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me"
              },
              "techIcon": {
                "type": "image",
                "position": [10,11],
                "centered": true,
                "callback": "null",
                "scale": 0.9
              }
            }
          }
        },
        "infoList": {
          "type": "list",
          "callback": "null",
          "schema": {
            "spacing": [0,0],
            "memberSize": [147,40],
            "listTemplate": {
              "detail": {
                "type": "label",
                "position": [4,34],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 140,
                "fontSize" : 6,
                "lineSpacing" : 1.0,
                "value": ""
              },
              "title": {
                "type": "label",
                "position": [4,2],
                "hAnchor" : "left",
                "centered" : true,
                "fontSize" : 10,
                "value" : ""
              },
              "key": {
                "type": "label",
                "position": [4,20],
                "hAnchor": "left",
                "vAnchor": "mid",
                "wrapWidth": 32,
                "fontSize" : 6,
                "lineSpacing" : 1.0,
                "value": ""
              },
              "value": {
                "type": "label",
                "position": [40,20],
                "hAnchor": "left",
                "vAnchor": "mid",
                "wrapWidth": 105,
                "fontSize" : 6,
                "lineSpacing" : 1.0,
                "value": ""
              },
              "valueCont": {
                "type": "label",
                "position": [40,34],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 105,
                "fontSize" : 6,
                "lineSpacing" : 1.0,
                "value": ""
              }
            }
          }
        }
      }
    },
    "tbOverrideBox" : {
      "type" : "textbox",
      "zlevel" : 9,
      "position" : [205, 79],
      "hint" : "input override",
      "regex" : "[a-zA-Z0-9 -.]{0,999}",
      "maxWidth" : 100,
      "enterKey" : "onOverrideEnter",
      "focus" : false,
      "callback" : "null"
    },
    "tbSearchBox" : {
      "type" : "textbox",
      "zlevel" : 10,
      "position" : [205, 79],
      "hint" : "search",
      "regex" : "[a-zA-Z0-9 -]{0,999}",
      "maxWidth" : 100,
      "focus" : false,
      "callback" : "onSeachBoxKeyPress"
    },
    "tbNameBox" : {
      "type" : "textbox",
      "zlevel" : 9,
      "regex" : "[a-zA-Z0-9 '-]{0,16}",
      "hAnchor": "mid",
      "vAnchor": "mid",
      "position" : [22, 200],
      "hint" : "NPC Name",
      "maxWidth" : 50,
      "enterKey" : "setNpcName",
      "focus" : false,
      "callback" : "null"
    },
    "spnIdleStance" :{
      "type": "spinner",
      "position": [16,97],
      "zlevel" : 9,
      "upOffset" : 65
    },
    "lblIdleStance" : {
      "type": "label",
      "zlevel": 10,
      "position": [54,102],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "Idle Stance"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [80, 116],
      "dimensions" : [2, 4],
      "spacing" : [20, 20],
      "slotOffset" : 4,
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/actionbar/actionbarcover.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [7, 116],
      "dimensions" : [1, 4],
      "spacing" : [20, 20],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/actionbar/actionbarcover.png"
    },
    "portraitSlot01": {
      "zlevel": 31,
      "type": "image",
      "position": [18,120],
      "scale": 1.8
    },
    "portraitSlot02": {
      "zlevel": 32,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot03": {
      "zlevel": 33,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot04": {
      "zlevel": 34,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot05": {
      "zlevel": 35,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot06": {
      "zlevel": 36,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot07": {
      "zlevel": 37,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot08": {
      "zlevel": 38,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot09": {
      "zlevel": 39,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot10": {
      "zlevel": 40,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot11": {
      "zlevel": 41,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot12": {
      "zlevel": 42,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot13": {
      "zlevel": 43,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot14": {
      "zlevel": 44,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot15": {
      "zlevel": 45,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot16": {
      "zlevel": 46,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot17": {
      "zlevel": 47,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot18": {
      "zlevel": 48,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot19": {
      "zlevel": 49,
      "type": "image",
      "position": [18,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot20": {
      "zlevel": 50,
      "type": "image",
      "position": [18,120],
      "scale": 1.8
    }
  },
  "scriptWidgetCallbacks": ["acceptBtn","updateSeedValue","onSelectItem","selectGenCategory","selectTab", "onOverrideEnter", "setNpcName", "spnIdleStance.up", "spnIdleStance.down","onSeachBoxKeyPress"],
  "scripts": ["/interface/scripted/NpcMenu/NpcPanelMenu.lua"],
  "scriptDelta": 0,
  "overrideContainerTemplate": {
    "items": {
      "override": [[0,[{}]]]
    }
  },
  "itemContainerTemplate": {
    "item": [{
      "name": "REPLACEME",
      "parameters": {
        "colorIndex": 0
      }
    }]
  },
  "tabOptions" : {
    "Generate" : ["Info", "Species", "NpcType", "Hair","FHair","FMask"],
    "Colorize"  : ["Info", "BColor","UColor", "HColor", "FHColor", "FMColor"],
    "Advanced"  : ["Info","Prsnlity","Override", "","","Export"],
    "ExportOptn" : ["","","","","",""],
    "OverrideOptn" : ["","","","","",""]
  },
  "assetParams" : {
    "Hair" : ["hairGroup", "hair", "hair", "hairDirectives"],
    "FHair" : ["facialHairGroup", "facialHair", "", "facialHairDirectives"],
    "FMask" : ["facialMaskGroup", "facialMask", "", "facialMaskDirectives"]
  },
  "npcTypeParams" : {
    "hostile" : {
        "paramsToCheck" : {"scriptConfig.aggressive":true},
        "icon" : "/interface/statuses/doomed.png"
    },
    "crew" : {
        "paramsToCheck" : {"scriptConfig.crew.recruitable":true},
        "icon" : "/interface/statuses/lowgrav.png"
    },
    "merchant" : {
        "paramsToCheck" : {"scriptConfig.merchant":true},
        "icon" : "/interface/crafting/storage.png"
    },
    "guard" : {
        "paramsToCheck" : {"scriptConfig.behaviorConfig.patrolTime":true},
        "icon" : "/interface/statuses/defense.png"
    },
    "villager" : {
        "paramsToCheck" : {},
        "icon" : "/interface/crafting/head.png"
    }
  },
  "overrideConfig": {
    "path" : {
      "hairDirectives" : "identity",
      "bodyDirectives" : "identity",
      "facialHairDirectives" : "identity",
      "facialMaskDirectives" : "identity",
      "emoteDirectives" : "identity",
      "aggressive" : "scriptConfig",
      "displayNameTag" : "scriptConfig",
      "disableWornArmor" : "",
      "damageTeam" : "",
      "damageTeamType" : ""
    },
    "applyParams" : {
      "hue" : ["%?hueshift=(%w+)","?hueshift=<1>"],
      "sat" : ["%?saturation=(%w+)","?saturation=<1>"]
    },
    "bodyDirectives" : {
      "body" : ["bodyDirectives","emoteDirectives"],
      "hair" : ["hairDirectives"],
      "facialhair" : ["facialHairDirectives"],
      "facialmask" : ["facialMaskDirectives"]
    },
    "setParams" : {
      "disablewornarmor" : ["disableWornArmor", "boolean"],
      "aggressive" : ["aggressive", "boolean"],
      "displaynametag" : ["displayNameTag", "boolean"],
      "damageteam" : ["damageTeam", "integer"],
      "damageteamtype" : ["damageTeamType", "string"]
    }
  }
}