{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/NpcMenu/panel/header.png",
      "fileBody": "/interface/scripted/NpcMenu/panel/body_altered.png",
      "fileFooter": "/interface/scripted/NpcMenu/panel/footer.png"
    },
    "acceptBtn": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "press": "/interface/buttonactive.png",
      "caption": "Spawn",
      "position": [200,34]
    },
    "prgAvailable": {
      "type": "progress",
      "zlevel": 2,
      "position": [42,80],
      "size": [250,14],
      "progressSet": {
        "inner": "/interface/scripted/NpcMenu/sliderAssets/bar_available.png",
        "type": "repeat"
      },
      "direction": "horizontal",
      "max": 1
    },
    "sldTargetSize": {
      "type": "slider",
      "zlevel": 3,
      "position": [35,62],
      "gridImage": "/interface/scripted/NpcMenu/sliderAssets/bar_overlay.png",
      "showSpinner": true,
      "callback": "updateTargetSize"
    },
    "lblSliderAmount": {
      "type": "label",
      "zlevel": 6,
      "position": [35,35],
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "wrapWidth": 240,
      "value": "0"
    },
    "sgSelectCategory": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "selectGenCategory",
      "visible" : false,
      "buttons": [{
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,175],
        "data": "Generate"
      },
      {
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,133],
        "data": "Refine"
      },
      {
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:base",
        "hoverImage": "/interface/scripted/NpcMenu/radioGroup/techslot.png:hover",
        "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/techslot.png:checked",
        "pressedOffset": [0,0],
        "position": [151,91],
        "data": "Manage"
      }]
    },
    "lblTechSlotHead": {
      "type": "label",
      "position": [117,189],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "SELECT"
    },
    "techIconHead": {
      "type": "image",
      "position": [165,189],
      "centered": true,
      "mouseTransparent": true
    },
    "lblTechSlotBody": {
      "type": "label",
      "position": [117,147],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "REFINE"
    },
    "techIconBody": {
      "type": "image",
      "position": [165,147],
      "centered": true,
      "mouseTransparent": true
    },
    "lblTechSlotLeg": {
      "type": "label",
      "position": [117,105],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "I/O"
    },
    "techIconLegs": {
      "type": "image",
      "position": [165,105],
      "centered": true,
      "mouseTransparent": true
    },
    "rgTabs": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "selectTab",
      "buttons": [{
        "selected": true,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [188,207],
        "data": "tab1"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [214,207],
        "data": "tab2"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [240,207],
        "data": "tab3"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [266,207],
        "data": "tab4"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [292,207],
        "data": "tab5"
      },
      {
        "selected": false,
        "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
        "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
        "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
        "pressedOffset": [0,0],
        "position": [318,207],
        "data": "tab6"
      }]
    },
    "lblTab01" : {
      "type": "label",
      "zlevel": 8,
      "position": [190,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "species",
      "fontSize" : 5.5,
      "mouseTransparent" : true
    },
    "lblTab02" : {
      "type": "label",
      "zlevel": 8,
      "position": [216,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "npcType",
      "fontSize" : 5.5,
      "mouseTransparent" : true
    },
    "lblTab03" : {
      "type": "label",
      "zlevel": 8,
      "position": [242,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.5,
      "mouseTransparent" : true
    },
    "lblTab04" : {
      "type": "label",
      "zlevel": 8,
      "position": [268,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.5,
      "mouseTransparent" : true 
    },
    "lblTab05" : {
      "type": "label",
      "zlevel": 8,
      "position": [294,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.5,
      "mouseTransparent" : true 
    },
    "lblTab06" : {
      "type": "label",
      "zlevel": 8,
      "position": [320,211],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "-",
      "fontSize" : 5.5,
      "mouseTransparent" : true 
    },
    "techScrollArea": {
      "type": "scrollArea",
      "rect": [188,92,344,206],
      "visible" : false,
      "children": {
        "techList": {
          "type": "list",
          "callback": "selectListItem",
          "schema": {
            "selectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:active",
            "unselectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:inactive",
            "disabledBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
            "spacing": [0,0],
            "memberSize": [147,22],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/NpcMenu/listAssets/listitem.png:inactive",
                "position": [0,0],
                "zlevel": -1
              },
              "techName": {
                "type": "label",
                "position": [25,6],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me"
              },
              "techIcon": {
                "type": "image",
                "position": [10,11],
                "centered": true,
                "callback": "null"
              }
            }
          }
        }
      }
    },
    "tbOverrideBox" : {
      "type" : "textbox",
      "zlevel" : 9,
      "position" : [215, 79],
      "hint" : "input override",
      "maxWidth" : 70,
      "enterKey" : "finalizeOverride",
      "focus" : false,
      "callback" : "null"
    },
    "tbNameBox" : {
      "type" : "textbox",
      "zlevel" : 9,
      "regex" : "[a-zA-Z0-9 '-]{0,16}",
      "hAnchor": "mid",
      "vAnchor": "mid",
      "position" : [22, 200],
      "hint" : "NPC Name",
      "maxWidth" : 50,
      "enterKey" : "setNpcName",
      "focus" : false,
      "callback" : "null",
      "disabled" :  true
    },
    "spnPersonality" :{
      "type": "spinner",
      "position": [16,97],
      "zlevel" : 9,
      "upOffset" : 65
    },
    "lblPersonality" : {
      "type": "label",
      "zlevel": 10,
      "position": [54,102],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "value": "Personality"
    },
    "lblBlockNameBox" : {
      "type": "label",
      "zlevel": 10,
      "position": [50,205],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth" : 80,
      "value": "                  \n                         \n                            \n                       "
    },
    "itemGrid" : {
     "type" : "itemgrid",
     "position" : [7, 135],
     "dimensions" : [2, 3],
     "spacing" : [70, 19],
      "hAnchor": "left",
      "vAnchor": "bottom",
     "backingImage" : "/interface/inventory/empty.png"
    }, 
    "portraitSlot01": {
      "zlevel": 31,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot02": {
      "zlevel": 32,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot03": {
      "zlevel": 33,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot04": {
      "zlevel": 34,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot05": {
      "zlevel": 35,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot06": {
      "zlevel": 36,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot07": {
      "zlevel": 37,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot08": {
      "zlevel": 38,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot09": {
      "zlevel": 39,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot10": {
      "zlevel": 40,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot11": {
      "zlevel": 41,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot12": {
      "zlevel": 42,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot13": {
      "zlevel": 43,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot14": {
      "zlevel": 44,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot15": {
      "zlevel": 45,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
     "portraitSlot16": {
      "zlevel": 46,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot17": {
      "zlevel": 47,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot18": {
      "zlevel": 48,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot19": {
      "zlevel": 49,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    },
    "portraitSlot20": {
      "zlevel": 50,
      "type": "image",
      "position": [22,120],
      "scale": 1.5,
      "file": ""
    }
  },
  "scriptWidgetCallbacks": ["acceptBtn","updateTargetSize","selectListItem","selectGenCategory","selectTab", "finalizeOverride", "setNpcName", "spnPersonality.up", "spnPersonality.down"],
  "scripts": ["/interface/scripted/NpcMenu/NpcPanelMenu.lua"],
  "scriptDelta": 3,
  "overrideContainerTemplate": {
    "items": {
      "override": [[0,
      [{
        
      }]]]
    }
  },
  "itemContainerTemplate": {
    "item": [{
      "name": "REPLACEME",
      "parameters": {
        "colorIndex": 0
      }
    }]
  },
  "tabOptions" : {
    "Generate" : ["Species", "Hair", "FHair", "FMask","",""],
    "Refine"  : ["BColor", "HColor","FHColor", "FMColor", "UColor", ""],
    "Manage"  : ["npcType", "","", "","",""],
    "Error" : ["","","","","",""]
  },
  "assetParams" : {
    "Hair" : ["hairGroup", "hair", "hair"],
    "FHair" : ["facialHairGroup", "facialHair", ""],
    "FMask" : ["facialMaskGroup", "facialMask", ""]
  }
}